body{
  max-width: 800px;
  margin: auto;
  padding: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #444
}

p{
  line-height: 1.7;
}

blockquote{
   padding: 0 1em;
   border-left: 8px solid #efefef;
   overflow: auto;
}

.menu li { display: inline-block; }
.menu a {
  padding: 10px;
}

nav ul{
    padding: 0;
}

.homepage-image{
    margin-bottom: 50px;
}

.post-header {
	/*background-color: #F5F5F5;*/
	overflow: hidden;
	/*padding: 0 5px 0 5px;*/
    margin: 10px 10px;
}

.post-link{
    margin: 0;
}

.post-date{
    margin: 0;
}

.post-link {
	float: left;
}

.post-link > a{
  text-decoration: none;
}

.post-date {
	float: right;
	color: dimgrey;
}

#post-list {
	list-style: none;
	padding-left: 0;
}

.text-center{
  text-align: center;
}

.pagination{
  display: inline-block;
}
.pagination > li {
    display: inline;
    padding: 6px 8px;
    float: left;
  }

i {
  margin: 10px 20px 10px 0;
  color: #333;
}

code {
  font-family: monospace;
  line-height: 1;
  font-size: 12px;
}
