body{
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}


.menu li { display: inline-block; }
.menu a {
  padding: 10px;
}


.post-header {
	background-color: #F5F5F5;
	overflow: hidden;
	padding: 0 5px 0 5px;
}

.post-link {
	float: left;
}

.post-link>a{
  text-decoration: none;
}

.post-date {
	float: right;
	color: dimgrey;
}

#post-list {
	list-style: none;
	padding-left: 0;
}
