{{ define "main" }}
<main>

  <div class="homepage-content">
    {{.Content}}
  </div>

    <ul id="post-list">
    {{ range .Paginator.Pages }}
        <li>
          <div>
            <div class="post-header">
              <h4 class="post-link"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
              <h4 class="post-date">{{ .Date.Format "Jan 2, 2006" }}</h4>
            </div>
            <div class="post-content"><p>{{ .Content }}</p></div>
          </div>
        </li>
    {{ end }}
    {{ partial "pagination.html" . }}
    </ul>
</main>
{{ end }}
